<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.bingoogolapple.photopicker">

    <!-- 允许访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true">
        <!--图片预览界面-->
        <activity
            android:name="cn.bingoogolapple.photopicker.activity.BGAPhotoPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择界面-->
        <activity
            android:exported="false"
            android:name="cn.bingoogolapple.photopicker.activity.BGAPhotoPickerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--图片选择预览界面-->
        <activity
            android:exported="false"
            android:name="cn.bingoogolapple.photopicker.activity.BGAPhotoPickerPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/BGAPPTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        
        <provider
            android:name="cn.bingoogolapple.photopicker.util.BGAPhotoFileProvider"
            android:authorities="${applicationId}.bga_photo_picker.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bga_photo_picker_file_paths" />
        </provider>
    </application>
</manifest>